# Python
backend/venv/
backend/__pycache__/
*.pyc
backend/instance/
backend/logsentry.db
backend/uploads/

# Env vars
.env
backend/.env

# Node
frontend/node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/
